@model IEnumerable<Category>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


    <div class="row justify-content-center">
        <div class="col-xl-10 col-xxl-9">
            <div class="card shadow">
                <div class="card-header d-flex flex-wrap justify-content-center align-items-center justify-content-sm-between gap-3">
                    <h5 class="display-6 text-nowrap text-capitalize mb-0">All Categories</h5>
                    <div class="input-group input-group-sm w-auto"><input class="form-control form-control-sm" type="text"><button class="btn btn-outline-primary btn-sm" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-search mb-1">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                            </svg></button></div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var c in Model)
                            {
                                <tr>
                                    <td class="text-truncate" style="max-width: 200px;">@c.Id</td>
                                    <td class="text-truncate" style="max-width: 200px;">@c.Name</td>
                                    <td class="text-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-eye-fill fs-5 text-primary">
                                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"></path>
                                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"></path>
                                        </svg>
                                        <svg fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="1em" height="1em"><path d="M 21 2 C 19.354545 2 18 3.3545455 18 5 L 18 7 L 10.154297 7 A 1.0001 1.0001 0 0 0 9.984375 6.9863281 A 1.0001 1.0001 0 0 0 9.8398438 7 L 8 7 A 1.0001 1.0001 0 1 0 8 9 L 9 9 L 9 45 C 9 46.645455 10.354545 48 12 48 L 38 48 C 39.645455 48 41 46.645455 41 45 L 41 9 L 42 9 A 1.0001 1.0001 0 1 0 42 7 L 40.167969 7 A 1.0001 1.0001 0 0 0 39.841797 7 L 32 7 L 32 5 C 32 3.3545455 30.645455 2 29 2 L 21 2 z M 21 4 L 29 4 C 29.554545 4 30 4.4454545 30 5 L 30 7 L 20 7 L 20 5 C 20 4.4454545 20.445455 4 21 4 z M 11 9 L 18.832031 9 A 1.0001 1.0001 0 0 0 19.158203 9 L 30.832031 9 A 1.0001 1.0001 0 0 0 31.158203 9 L 39 9 L 39 45 C 39 45.554545 38.554545 46 38 46 L 12 46 C 11.445455 46 11 45.554545 11 45 L 11 9 z M 18.984375 13.986328 A 1.0001 1.0001 0 0 0 18 15 L 18 40 A 1.0001 1.0001 0 1 0 20 40 L 20 15 A 1.0001 1.0001 0 0 0 18.984375 13.986328 z M 24.984375 13.986328 A 1.0001 1.0001 0 0 0 24 15 L 24 40 A 1.0001 1.0001 0 1 0 26 40 L 26 15 A 1.0001 1.0001 0 0 0 24.984375 13.986328 z M 30.984375 13.986328 A 1.0001 1.0001 0 0 0 30 15 L 30 40 A 1.0001 1.0001 0 1 0 32 40 L 32 15 A 1.0001 1.0001 0 0 0 30.984375 13.986328 z"/></svg>
                                        <svg xmlns="http://www.w3.org/2000/svg"  width="1em" height="1em" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 419 511.68"><path d="M93 39.4h46.13C141.84 17.18 159.77 0 181.52 0c21.62 0 39.45 16.95 42.34 38.94l46.76.46c2.61 0 4.7 2.1 4.7 4.71v51.85c0 2.6-2.09 4.7-4.7 4.7H93.05c-2.56 0-4.71-2.1-4.71-4.7V44.11A4.644 4.644 0 0 1 93 39.4zm221.98 264.23c57.47 0 104.02 46.58 104.02 104.02 0 57.47-46.58 104.03-104.02 104.03-57.47 0-104.02-46.58-104.02-104.03 0-57.47 46.58-104.02 104.02-104.02zm-4.5 139.63-36.78 9.81 5.3-39.48 31.48 29.67zm-23.37-38.64 36.12-41.2c.61-.71 1.5-1.13 2.43-1.16.58 0 1.15.11 1.67.39l28.02 25.47c.56.52.89 1.24.91 2.01.02.85-.34 1.7-.99 2.26l-36.78 41.9-31.43-29.67h.05zM132.53 268.58c-7.13 0-12.92-5.79-12.92-12.93 0-7.13 5.79-12.92 12.92-12.92h142.82c7.14 0 12.93 5.79 12.93 12.92 0 7.14-5.79 12.93-12.93 12.93H132.53zM89.5 241.22c7.98 0 14.44 6.46 14.44 14.44 0 7.98-6.46 14.44-14.44 14.44-7.97 0-14.44-6.46-14.44-14.44 0-7.98 6.47-14.44 14.44-14.44zm0 78.62c7.98 0 14.44 6.47 14.44 14.44s-6.46 14.44-14.44 14.44c-7.97 0-14.44-6.47-14.44-14.44s6.47-14.44 14.44-14.44zm43.04 27.36c-7.13 0-12.93-5.79-12.93-12.93 0-7.13 5.8-12.92 12.93-12.92h80.96a133.608 133.608 0 0 0-17.26 25.85h-63.7zM89.5 162.61c7.98 0 14.44 6.46 14.44 14.44 0 7.98-6.46 14.44-14.44 14.44-7.97 0-14.44-6.46-14.44-14.44 0-7.98 6.47-14.44 14.44-14.44zm43.03 27.36c-7.13 0-12.92-5.8-12.92-12.93s5.79-12.93 12.92-12.93h142.82c7.14 0 12.93 5.8 12.93 12.93s-5.79 12.93-12.93 12.93H132.53zM41.73 59.28h23.93v24.38H41.73c-4.77 0-9.12 1.96-12.25 5.09-3.14 3.14-5.1 7.48-5.1 12.24v315.53c0 4.78 1.95 9.13 5.08 12.27 3.15 3.13 7.5 5.09 12.27 5.09h142.62c1.68 8.44 4.17 16.6 7.36 24.38H41.73c-11.41 0-21.86-4.71-29.42-12.27C4.71 438.38 0 427.96 0 416.52V100.99c0-11.48 4.7-21.91 12.25-29.46 7.55-7.55 17.99-12.25 29.48-12.25zm297.55 217.36V100.99c0-4.76-1.96-9.11-5.09-12.26a17.392 17.392 0 0 0-12.27-5.07h-23.91V59.28h23.91c11.44 0 21.86 4.71 29.42 12.25 7.61 7.61 12.32 18.05 12.32 29.46V283.6c-7.79-3.06-15.95-5.41-24.38-6.96zM181.03 20.16c12.3 0 22.26 9.97 22.26 22.27 0 12.29-9.96 22.26-22.26 22.26-12.29 0-22.26-9.97-22.26-22.26 0-12.3 9.97-22.27 22.26-22.27z"/></svg>
                                    
                                        <a type="button" class="btn btn-sm btn-outline-danger" asp-controller="Categories" asp-action="Delete" asp-route-id="@c.Id">
                                            Delete
                                        </a>
                                        </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--
                <div class="card-footer">
                    <nav>
                        <ul class="pagination pagination-sm mb-0 justify-content-center">
                            <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>-->
            </div>
        </div>
    </div>